@font-face {
  font-family: 'FuturaStd Book';
  src: url("../fonts/futurastd-book.woff") format("woff"), url("../fonts/futurastd-book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }
/* line 1, ../sass/partials/_form.scss */
input {
  width: 100%;
  border: none;
  font-size: 16px;
  line-height: 1.1;
  box-sizing: border-box;
  padding: 8px 12px;
  margin-bottom: 2px; }

/* line 11, ../sass/partials/_form.scss */
input#pwd {
  width: 84%; }

/* line 15, ../sass/partials/_form.scss */
button {
  border: none;
  background-color: #2e2e31;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px; }

/*------------------------------------*/
/*	Header Section					  */
/*------------------------------------*/
/* line 4, ../sass/partials/_header.scss */
html, body {
  font-family: "FuturaStd Book", sans-serif;
  margin: 0; }

/* line 9, ../sass/partials/_header.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 14, ../sass/partials/_header.scss */
p {
  letter-spacing: 0.8px; }

/* line 18, ../sass/partials/_header.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* line 24, ../sass/partials/_header.scss */
.wrapper {
  max-width: 1035px;
  width: 100%;
  margin: 0 auto; }

/* line 30, ../sass/partials/_header.scss */
.nav-block {
  height: 84px;
  position: relative;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
  z-index: 10000; }

/* line 37, ../sass/partials/_header.scss */
#logo {
  width: 18%;
  float: left;
  background-color: #2e2e31;
  text-align: center;
  padding: 0 0 0 2%;
  height: 100%; }
  /* line 45, ../sass/partials/_header.scss */
  #logo img {
    margin-top: 14px; }

/* line 50, ../sass/partials/_header.scss */
#menu {
  width: 78%;
  float: left;
  background-color: #37373a;
  padding-right: 2%;
  height: 100%; }
  /* line 57, ../sass/partials/_header.scss */
  #menu ul li {
    list-style: none;
    display: inline-block; }
    /* line 61, ../sass/partials/_header.scss */
    #menu ul li a {
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase; }
  /* line 68, ../sass/partials/_header.scss */
  #menu .navigation {
    width: 80%;
    float: left; }
    /* line 73, ../sass/partials/_header.scss */
    #menu .navigation nav ul {
      margin: 0; }
    /* line 79, ../sass/partials/_header.scss */
    #menu .navigation nav li:hover > .submenu {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
    /* line 89, ../sass/partials/_header.scss */
    #menu .navigation nav li.has-submenu a:hover:after, #menu .navigation nav li.has-submenu a:focus:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #72c5c4;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%); }
    /* line 104, ../sass/partials/_header.scss */
    #menu .navigation nav a {
      font-size: 12px;
      line-height: 12px;
      padding: 36px 16px;
      letter-spacing: 1px;
      display: inline-block;
      position: relative;
      -webkit-transition: background-color 0.5s ease;
      -moz-transition: background-color 0.5s ease;
      -o-transition: background-color 0.5s ease;
      transition: background-color 0.5s ease; }
      /* line 113, ../sass/partials/_header.scss */
      #menu .navigation nav a:hover, #menu .navigation nav a:focus {
        background-color: #72c5c4; }
    /* line 119, ../sass/partials/_header.scss */
    #menu .navigation nav .submenu {
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      background: #f5f3f3;
      padding: 0;
      opacity: 0;
      -webkit-box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.3);
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
      -webkit-transition: transform 0.3s ease, opacity 0.2s ease;
      -moz-transition: transform 0.3s ease, opacity 0.2s ease;
      -o-transition: transform 0.3s ease, opacity 0.2s ease;
      transition: transform 0.3s ease, opacity 0.2s ease; }
      /* line 131, ../sass/partials/_header.scss */
      #menu .navigation nav .submenu b {
        font-size: 10px;
        line-height: 10px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.8px;
        color: #4e4d4d;
        margin-bottom: 12px;
        display: inline-block; }
      /* line 143, ../sass/partials/_header.scss */
      #menu .navigation nav .submenu a:after {
        display: none; }
      /* line 148, ../sass/partials/_header.scss */
      #menu .navigation nav .submenu li {
        display: block;
        float: left; }
        /* line 151, ../sass/partials/_header.scss */
        #menu .navigation nav .submenu li a {
          padding: 5px 0;
          text-transform: uppercase;
          font-size: 11px;
          line-height: 11px;
          color: #9a9a9a;
          width: 80%;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
          /* line 161, ../sass/partials/_header.scss */
          #menu .navigation nav .submenu li a:hover, #menu .navigation nav .submenu li a:focus {
            color: #ffffff; }
            /* line 165, ../sass/partials/_header.scss */
            #menu .navigation nav .submenu li a:hover:before, #menu .navigation nav .submenu li a:focus:before {
              content: '';
              width: 0;
              height: 0;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-left: 5px solid #f5f3f3;
              display: inline-block;
              left: 0;
              margin-right: 5px; }
        /* line 177, ../sass/partials/_header.scss */
        #menu .navigation nav .submenu li.v-img {
          width: 17%;
          -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
          padding: 30px 1.5%;
          background: #f5f3f3; }
          /* line 183, ../sass/partials/_header.scss */
          #menu .navigation nav .submenu li.v-img img {
            width: 100%;
            height: auto; }
        /* line 189, ../sass/partials/_header.scss */
        #menu .navigation nav .submenu li.links {
          width: 45%; }
          /* line 192, ../sass/partials/_header.scss */
          #menu .navigation nav .submenu li.links .left,
          #menu .navigation nav .submenu li.links .right {
            float: left;
            width: 41%;
            padding: 0 4% 0;
            margin: 20px 0 0; }
            /* line 199, ../sass/partials/_header.scss */
            #menu .navigation nav .submenu li.links .left ul,
            #menu .navigation nav .submenu li.links .right ul {
              padding: 0; }
              /* line 201, ../sass/partials/_header.scss */
              #menu .navigation nav .submenu li.links .left ul li,
              #menu .navigation nav .submenu li.links .right ul li {
                float: none; }
          /* line 208, ../sass/partials/_header.scss */
          #menu .navigation nav .submenu li.links .left {
            border-right: 1px solid #ffffff; }
          /* line 213, ../sass/partials/_header.scss */
          #menu .navigation nav .submenu li.links .right ul {
            margin-bottom: 42px; }
            /* line 217, ../sass/partials/_header.scss */
            #menu .navigation nav .submenu li.links .right ul b {
              margin-bottom: 6px; }
        /* line 225, ../sass/partials/_header.scss */
        #menu .navigation nav .submenu li.h-img {
          width: 32%;
          -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
          padding: 10px 1.5%;
          background: #f5f3f3;
          min-height: 338px; }
          /* line 232, ../sass/partials/_header.scss */
          #menu .navigation nav .submenu li.h-img img {
            width: 100%;
            height: 135px;
            margin: 5px 0; }
          /* line 238, ../sass/partials/_header.scss */
          #menu .navigation nav .submenu li.h-img a {
            font-size: 9px;
            line-height: 9px; }
            /* line 242, ../sass/partials/_header.scss */
            #menu .navigation nav .submenu li.h-img a:before {
              content: '';
              width: 0;
              height: 0;
              border-top: 4px solid transparent;
              border-bottom: 4px solid transparent;
              border-left: 4px solid #72c5c4;
              display: inline-block;
              left: 0;
              margin-right: 5px; }
            /* line 251, ../sass/partials/_header.scss */
            #menu .navigation nav .submenu li.h-img a:hover, #menu .navigation nav .submenu li.h-img a:focus {
              background: transparent;
              color: #9a9a9a; }
  /* line 266, ../sass/partials/_header.scss */
  #menu .account-language {
    width: 20%;
    float: left; }
    /* line 270, ../sass/partials/_header.scss */
    #menu .account-language .lang {
      text-align: right;
      position: relative; }
      /* line 274, ../sass/partials/_header.scss */
      #menu .account-language .lang ul {
        margin: 0;
        padding: 0; }
      /* line 281, ../sass/partials/_header.scss */
      #menu .account-language .lang li a {
        font-size: 10px;
        line-height: 10px;
        padding: 0 5px 0 0; }
      /* line 288, ../sass/partials/_header.scss */
      #menu .account-language .lang li.active a {
        text-decoration: underline; }
      /* line 293, ../sass/partials/_header.scss */
      #menu .account-language .lang li .slash {
        font-size: 10px;
        line-height: 10px;
        color: #ffffff; }
      /* line 299, ../sass/partials/_header.scss */
      #menu .account-language .lang li .icon {
        width: 20px;
        height: 20px;
        background: url("../svg/icons.svg") no-repeat;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto; }
        /* line 311, ../sass/partials/_header.scss */
        #menu .account-language .lang li .icon.cart {
          background-position: 0 0; }
        /* line 315, ../sass/partials/_header.scss */
        #menu .account-language .lang li .icon.connect {
          background-position: -20px 0; }
      /* line 322, ../sass/partials/_header.scss */
      #menu .account-language .lang li.cart a, #menu .account-language .lang li.connect a {
        width: 40px;
        height: 36px;
        display: block;
        position: relative;
        padding: 0; }
        /* line 329, ../sass/partials/_header.scss */
        #menu .account-language .lang li.cart a:before, #menu .account-language .lang li.connect a:before {
          content: '';
          width: 0;
          height: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid #37373a;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: auto; }
      /* line 341, ../sass/partials/_header.scss */
      #menu .account-language .lang li.cart {
        margin-right: -5px; }
        /* line 343, ../sass/partials/_header.scss */
        #menu .account-language .lang li.cart a {
          background-color: #4e4d4d; }
      /* line 349, ../sass/partials/_header.scss */
      #menu .account-language .lang li.connect a {
        background-color: #cacaca; }
      /* line 354, ../sass/partials/_header.scss */
      #menu .account-language .lang li.en, #menu .account-language .lang li.fr {
        position: relative;
        top: -14px; }
  /* line 367, ../sass/partials/_header.scss */
  #menu .account-language .login-form-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    background-color: #4e4d4d;
    padding-left: 20px;
    text-align: left;
    opacity: 0;
    display: none; }
    /* line 378, ../sass/partials/_header.scss */
    #menu .account-language .login-form-box.show {
      opacity: 1;
      display: block; }
  /* line 384, ../sass/partials/_header.scss */
  #menu .account-language .login-form,
  #menu .account-language .connect-box {
    float: left; }
  /* line 389, ../sass/partials/_header.scss */
  #menu .account-language .login-form {
    width: 260px; }
  /* line 393, ../sass/partials/_header.scss */
  #menu .account-language .connect-box {
    width: 40px;
    position: relative; }
    /* line 397, ../sass/partials/_header.scss */
    #menu .account-language .connect-box a {
      display: block;
      width: 40px;
      height: 36px; }
    /* line 403, ../sass/partials/_header.scss */
    #menu .account-language .connect-box .icon {
      width: 20px;
      height: 20px;
      background: url("../svg/icons.svg") no-repeat;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
      /* line 415, ../sass/partials/_header.scss */
      #menu .account-language .connect-box .icon.connect {
        background-position: -20px 0; }
    /* line 422, ../sass/partials/_header.scss */
    #menu .account-language .connect-box.connect a {
      width: 40px;
      height: 36px;
      display: block;
      position: relative;
      padding: 0; }
      /* line 429, ../sass/partials/_header.scss */
      #menu .account-language .connect-box.connect a:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #37373a;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto; }

/*------------------------------------*/
/*	Slider Section					  */
/*------------------------------------*/
/* line 5, ../sass/partials/_slider.scss */
.bx-wrapper {
  box-shadow: none;
  border: none; }

/* line 10, ../sass/partials/_slider.scss */
.slides {
  margin: 1px 0 0; }
  /* line 13, ../sass/partials/_slider.scss */
  .slides .slide {
    padding: 0 2%;
    position: relative; }
    /* line 16, ../sass/partials/_slider.scss */
    .slides .slide img {
      max-width: 100%;
      height: auto; }
    /* line 21, ../sass/partials/_slider.scss */
    .slides .slide .caption {
      position: absolute;
      top: 20%;
      left: 1%;
      width: 410px;
      -webkit-box-shadow: -4px 0px 8px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: -4px 0px 8px 0px rgba(0, 0, 0, 0.2);
      box-shadow: -4px 0px 8px 0px rgba(0, 0, 0, 0.2);
      height: 115px;
      width: 430px; }
      /* line 30, ../sass/partials/_slider.scss */
      .slides .slide .caption.right {
        left: initial;
        right: 4%;
        top: 10%; }
      /* line 36, ../sass/partials/_slider.scss */
      .slides .slide .caption .left {
        height: 100%;
        width: 54%;
        float: left;
        background-color: #ffffff;
        padding: 0 1% 0 8%;
        position: relative; }
        /* line 44, ../sass/partials/_slider.scss */
        .slides .slide .caption .left:after {
          content: '';
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 10px solid #ffffff;
          position: absolute;
          right: -10px;
          top: 25px; }
        /* line 52, ../sass/partials/_slider.scss */
        .slides .slide .caption .left h2 {
          font-size: 25px;
          line-height: 25px;
          color: #72c5c4;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          font-weight: 400;
          margin-bottom: 10px; }
        /* line 62, ../sass/partials/_slider.scss */
        .slides .slide .caption .left p {
          font-family: Arial, sans-serif;
          font-size: 11px;
          line-height: 11px;
          color: #9a9a9a; }
      /* line 70, ../sass/partials/_slider.scss */
      .slides .slide .caption .right {
        height: 100%;
        min-width: 15%;
        float: left;
        background-color: #72c5c4;
        padding: 0 2% 0 5%;
        color: #ffffff;
        text-align: center; }
        /* line 79, ../sass/partials/_slider.scss */
        .slides .slide .caption .right p {
          font-size: 11px;
          margin: 27px 0 0 0; }
          /* line 83, ../sass/partials/_slider.scss */
          .slides .slide .caption .right p.price {
            font-size: 40px;
            margin: 0 0 15px 0; }
            /* line 87, ../sass/partials/_slider.scss */
            .slides .slide .caption .right p.price .currency {
              position: relative;
              top: -20px;
              left: -10px;
              font-size: 20px; }

/*------------------------------------*/
/*	Services Section				  */
/*------------------------------------*/
/* line 5, ../sass/partials/_services.scss */
.services {
  margin-top: 70px;
  background-color: #f5f3f3;
  height: 134px; }
  /* line 11, ../sass/partials/_services.scss */
  .services p, .services h4 {
    font-size: 10px;
    line-height: 15px;
    color: #9a9a9a;
    margin-top: 3px; }
  /* line 18, ../sass/partials/_services.scss */
  .services .info-block,
  .services .service {
    float: left;
    height: 100%; }
  /* line 24, ../sass/partials/_services.scss */
  .services .info-block {
    width: 17%;
    margin-left: 40px;
    background-color: #6f6f6f;
    position: relative; }
    /* line 30, ../sass/partials/_services.scss */
    .services .info-block p, .services .info-block h4 {
      color: #ffffff; }
    /* line 34, ../sass/partials/_services.scss */
    .services .info-block h4 {
      text-transform: uppercase;
      letter-spacing: 0.8px; }
    /* line 39, ../sass/partials/_services.scss */
    .services .info-block .info {
      padding: 12px 2% 0 15%;
      position: relative; }
      /* line 42, ../sass/partials/_services.scss */
      .services .info-block .info p, .services .info-block .info h4 {
        margin: 0; }
      /* line 46, ../sass/partials/_services.scss */
      .services .info-block .info:before, .services .info-block .info:after {
        content: '';
        position: absolute;
        top: 16px; }
      /* line 53, ../sass/partials/_services.scss */
      .services .info-block .info:before {
        left: 0;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #f5f3f3; }
      /* line 58, ../sass/partials/_services.scss */
      .services .info-block .info:after {
        right: -6px;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #6f6f6f; }
    /* line 65, ../sass/partials/_services.scss */
    .services .info-block .icon-info {
      width: 24px;
      height: 24px;
      background: #6f6f6f url("../svg/icons.svg") no-repeat;
      display: inline-block;
      background-position: 2px -19px;
      position: absolute;
      top: 10px;
      left: -31px;
      border-radius: 50%;
      -webkit-box-shadow: inset 1px 2px 6px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 1px 2px 6px 0px rgba(0, 0, 0, 0.5);
      box-shadow: inset 1px 2px 6px 0px rgba(0, 0, 0, 0.5); }
  /* line 79, ../sass/partials/_services.scss */
  .services .service {
    width: 9%;
    text-align: center;
    padding: 20px 1% 0;
    border-right: 2px solid #ffffff; }
    /* line 85, ../sass/partials/_services.scss */
    .services .service:last-child {
      border-right: 0; }
    /* line 89, ../sass/partials/_services.scss */
    .services .service .icon {
      width: 60px;
      height: 45px;
      background: url("../svg/reassu.svg") no-repeat;
      display: inline-block; }
      /* line 95, ../sass/partials/_services.scss */
      .services .service .icon.satisfait-rembourse {
        background-position: 0 0; }
      /* line 99, ../sass/partials/_services.scss */
      .services .service .icon.paiement {
        background-position: -60px 0; }
      /* line 103, ../sass/partials/_services.scss */
      .services .service .icon.expedition {
        background-position: -120px 0; }
      /* line 107, ../sass/partials/_services.scss */
      .services .service .icon.livraison {
        background-position: 0 -45px; }
      /* line 111, ../sass/partials/_services.scss */
      .services .service .icon.garantie {
        background-position: -60px -45px; }
      /* line 115, ../sass/partials/_services.scss */
      .services .service .icon.stock {
        background-position: -120px -45px; }
      /* line 119, ../sass/partials/_services.scss */
      .services .service .icon.retours {
        background-position: 0 -90px; }

/*------------------------------------*/
/*	Footer Section				      */
/*------------------------------------*/
/* line 5, ../sass/partials/_footer.scss */
footer {
  margin: 45px 0; }
  /* line 7, ../sass/partials/_footer.scss */
  footer p {
    text-align: center;
    font-size: 9px;
    line-height: 9px;
    font-weight: 700;
    color: #9a9a9a; }
  /* line 15, ../sass/partials/_footer.scss */
  footer span.logo {
    width: 77px;
    height: 19px;
    background: url("../svg/wshop.svg") no-repeat;
    background-size: cover;
    display: inline-block;
    position: relative;
    top: 8px; }
