//------- Colors --------------
$white: #ffffff;
$black: #000000;

$dark: #2e2e31;
$lighter-black: #37373a;
$cart-gray: #4e4d4d;
$connect-gray: #cacaca;
$blue: #72c5c4;

$gray-font: #9a9a9a;
$dark-font: #4e4d4d;
$light-gray: #f5f3f3;
$gray: #6f6f6f;

//------- Fonts --------------
$futura: 'FuturaStd Book', sans-serif;
