/*------------------------------------*/
/*	Footer Section				      */
/*------------------------------------*/

footer {
	margin: 45px 0; 
	p {
		text-align: center;
		font-size: 9px;
		line-height: 9px;
		font-weight: 700;
		color: $gray-font;
	}

	span.logo {
		width: 77px;
		height: 19px;
		background: url('../svg/wshop.svg') no-repeat;
		background-size: cover;
		display: inline-block;
		position: relative;
    	top: 8px;
	}

}