/*------------------------------------*/
/*	Header Section					  */
/*------------------------------------*/
html, body {
 font-family: $futura;
 margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

p {
    letter-spacing: 0.8px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
	max-width: 1035px;
	width: 100%;
	margin: 0 auto;
}

.nav-block {
	height: 85px;
	position: relative;
}

#logo {
	width: 18%;
	float: left;
	background-color: $dark;
	text-align: center;
	padding: 0 0 0 2%;
	height: 100%;

	img {
		margin-top: 14px;
	}
}

#menu {
	width: 78%;
	float: left;
	background-color: $lighter-black;
	padding-right: 2%;
	height: 100%;

	ul li{
		list-style: none;
		display: inline-block;

		a {
			color: $white;
			text-decoration: none;
			text-transform: uppercase;
		}
	}

	.navigation {
		width: 80%;
		float: left;

	    nav {
	    	ul {
	    		margin: 0;
	    	}
	    	a {
	    		font-size: 12px;
	    		line-height: 12px;
	    		padding: 36px 16px;
	    		letter-spacing: 1px;
	    		display: inline-block;

	    		&:hover,
	    		&:focus {
	    			background-color: $blue;
	    		}
	    	}

	    	.submenu {
				position: absolute;
				left: 0;
				right: 0;
				z-index: 10000;
				background: rgba($blue, 0.5);
				padding: 0;

				li {
					display: block;
					float: left;
					a {
						padding: 0;
					}

					&.v-img {
						width: 15%;
					}

					&.links {
						width: 55%;

						.left,
						.right {
							float: left;
							width: 50%;

							ul li {
								float: none;
							}
						}
					}

					&.h-img {
						width: 30%;
					}

				}

	    	}
	    }
	}

	.account-language {
		width: 20%;
		float: left;

		.lang {
			text-align: right;

			ul {
				margin: 0;
				padding: 0;
			}

			li {

				a {
					font-size: 10px;
					line-height: 10px;
					padding: 0 5px 0 0;
				}

				&.active {
					a {
						text-decoration: underline;
					}
				}

				.slash {
					font-size: 10px;
					line-height: 10px;
					color: $white;
				}

				.icon {
					width: 20px;
					height: 20px;
					background: url('../svg/icons.svg') no-repeat;
				    display: inline-block;
				    position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    margin: auto;

				    &.cart {
				    	background-position: 0 0;
				    }

				    &.connect {
				    	background-position: -20px 0;
				    }
				}

				&.cart,
				&.connect {
					a {
						width: 40px;
						height: 36px;
						display: block;
						position: relative;
						padding: 0;

						&:before {
							content: '';
							@include arrow-down(4px, $lighter-black);
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
    						margin: auto;
						}
					}
				}

				&.cart {
					margin-right: -5px;
					a {
						background-color: $cart-gray;
					}
				}

				&.connect {
					a {
						background-color: $connect-gray;
					}
				}

				&.en,
				&.fr {
					position: relative;
					top: -14px;
				}

			}
		}
	}


}

